@page "/BiggerDrinkView"
@inject HttpClient Http



@using Blazored.Typeahead;


@inject ILoggerFactory LoggerFactory

<div class="marginclass">
    @*<p>Drink Name</p>
        <p>@drink.strDrink</p>
        <p>@drink.strTags</p>*@
    <div class="container">
        <div class="row">
            <div class="col-12 drinkview">
            @drink.strDrink
        </div>
        <div class="col-12 alcoview">
            @drink.strAlcoholic
        </div>
        </div>
        <div class="DrInstructions">
            @drink.strInstructions
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Models.Drinks drink { get; set; }

    //public int fontSize-strDrink;

    //public int fontSize-strAlcoholic;

    //protected override void OnInitialized()
    //{

    //}

}
